.edit_group_modal {
  @include modalContent();

  textarea {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    outline: none;
    resize: vertical;
  }
  .edit_group_save {
    @include greenButton();
    width: 40%;
    text-align: center;
    margin: 1em auto 0 auto;
  }
  .delete {
    text-align: center;
    margin-top: 0.5em;
    color: $darkText;
    &:hover {
      color: $deleteRed;
      cursor: pointer;
      text-decoration: line-through;
    }
  }
}
