.edit_group_modal {
  @include modalContent();
  width: 50%;
  z-index: 6;
  textarea {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    outline: none;
    resize: vertical;
    padding: 0.5em;
  }
  .edit_group_save {
    @include greenButton();
    width: 40%;
    text-align: center;
    margin: 1em auto 0 auto;
  }
  .delete {
    text-align: center;
    margin-top: 0.5em;
    color: $darkText;
    transition: 0.2s;
    &:hover {
      color: $deleteRed;
      cursor: pointer;
    }
  }
}
