.groups_container {
  @include container();
  .group_container_header {
    @include containerHeader();
  }
  .groups_collection {
    @include collectionComponent();
    .group_card {
      padding: 0.5em;
      border-radius: 6px;
      margin-bottom: 0.5em;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
      &:hover {
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
      }
      ul {
        list-style: none;
      }
      .group_header {
        font-size: 20px;
        display: flex;
        align-items: baseline;
        color: $darkText;
        .open_close_icon {
          transition: 0.45s;
        }
        .group_name {
          flex-grow: 1;
          padding-left: 0.5em;
          margin-block-end: 0;
          font-size: 20px;
          &:hover {
            cursor: pointer;
          }
        }
        .edit_group_button {
          color: $lightText;
          padding-right: 1em;
          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
    }
    .group_description {
      color: $lightText;
      font-weight: normal;
      letter-spacing: 0.56px;
      font-size: 18px;
      margin-block-start: 0.5em;
      margin-block-end: 0;
      padding-left: 1.3em;
    }
  }
}
