.group_assign {
  border-radius: 6px;
  padding: 0 4em 1em 4em;
  background-color: white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  h4 {
    color: $planedGreen;
    font-family: "Playfair Display", serif;
    font-weight: normal;
  }
  .group_option {
    color: $lightText;
    transition: 0.3s;
    &:hover {
      color: $planedGreen;
    }
  }
}
