.navbar_container {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar {
  z-index: 1;
  width: 900px;
  max-width: 80%;
  margin: 0 auto;
  transition: 0.7s;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 1em;
  .icon {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: black;

    .pink_comma {
      color: $plannedPink;
      font-size: 46px;
    }
  }
  .navbar_anchors {
    a {
      color: $lightText;
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      font-weight: 600;
      text-decoration: none;
      padding-left: 2em;
      transition: 0.4s;
      &:hover {
        opacity: 0.6;
      }
    }
    .planned_anchor {
      color: $planedGreen;
    }
  }
}

@media only screen and (max-width: 668px) {
  .navbar_anchors a:nth-child(1n + 0) {
    padding-left: 1em;
  }
}
