.people_container {
  @include container();
  .people_container_header {
    @include containerHeader();
  }

  .people_collection {
    @include collectionComponent();
  }
}
.collection_headers {
  display: flex;
  font-family: "Roboto", sans-serif;
  color: $darkText;
  text-decoration: underline;
  font-size: 18px;
  width: 80%;
  margin: 0.5em auto;
  .header_name {
    width: 40%;
  }
}
// person card -----------------------------------------
.person_card {
  display: flex;
  width: 80%;
  padding: 0.5em;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 0 auto 0.5em auto;
  font-size: 18px;
  &:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  }
  .person_name {
    width: 40%;
    font-weight: bold;
    color: $darkText;
    transition: 0.3s;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
  .person_group {
    flex-grow: 1;
    color: $darkText;
    transition: 0.3s;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }

  .delete {
    color: $lightText;
    transition: 0.4s;
    text-align: right;
    &:hover {
      color: $deleteRed;
      cursor: pointer;
    }
  }
}
