@import "./mixins";
@import "./variables";

@import "./navbar";

@import "./groupsComponent";
@import "./newGroupForm";
@import "./editGroupForm";

@import "./peopleComponent";
@import "./newPersonForm";
@import "./editPersonForm";
@import "./groupAssignment";
// ========================================
body {
  margin: 0;
}
.App {
  padding: 4em 0;
}
.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

//page anchors ============================
#groups {
  position: absolute;
  top: 3em;
}
