.navbar_container {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.navbar {
  z-index: 1;
  width: 900px;
  max-width: 80%;
  margin: 0 auto;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em;
}

.navbar .icon {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: black;
}

.navbar .icon .pink_comma {
  color: #fe7b6c;
  font-size: 46px;
}

.navbar .navbar_anchors a {
  color: #697b93;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  padding-left: 2em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar .navbar_anchors a:hover {
  opacity: 0.6;
}

.navbar .navbar_anchors .planned_anchor {
  color: #52a27e;
}

@media only screen and (max-width: 668px) {
  .navbar_anchors a:nth-child(1n + 0) {
    padding-left: 1em;
  }
}

.groups_container {
  margin: 0 auto;
  margin-top: 4em;
  width: 900px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  padding: 1em 3em;
}

.groups_container .group_container_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2em;
}

.groups_container .group_container_header h1 {
  font-weight: normal;
  text-decoration: underline;
  color: #332c52;
  font-family: "Playfair Display", serif;
}

.groups_container .group_container_header .add_icon {
  font-family: "Roboto", sans-serif;
  background-color: #52a27e;
  color: white;
  border-radius: 24px;
  padding: 0.5em 1em;
  margin-left: 1em;
}

.groups_container .group_container_header .add_icon:hover {
  cursor: pointer;
  background-color: #418566;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.groups_container .groups_collection {
  font-family: "Roboto", sans-serif;
}

.groups_container .groups_collection .group_card {
  padding: 0.5em 1em 1em 1em;
  border-radius: 6px;
  margin-bottom: 1em;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.groups_container .groups_collection .group_card:hover {
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.groups_container .groups_collection .group_card ul {
  list-style: none;
}

.groups_container .groups_collection .group_card .group_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.groups_container .groups_collection .group_card .group_header .open_close_icon {
  padding-top: 0.2em;
  -webkit-transition: 0.45s;
  transition: 0.45s;
  z-index: 3;
  height: 100%;
  stroke-width: 2;
}

.groups_container .groups_collection .group_card .group_header .group_text_info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 1.3em;
}

.groups_container .groups_collection .group_card .group_header .group_text_info:hover {
  cursor: pointer;
}

.groups_container .groups_collection .group_card .group_header .group_text_info .group_title {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #0e2a4b;
}

.groups_container .groups_collection .group_card .group_header .group_text_info .group_title .group_name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-size: 20px;
}

.groups_container .groups_collection .group_card .group_header .edit_group_button {
  color: #697b93;
  font-size: 1.3em;
  padding-right: 1em;
}

.groups_container .groups_collection .group_card .group_header .edit_group_button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.groups_container .groups_collection .group_card .group_description {
  color: #697b93;
  font-weight: normal;
  letter-spacing: 0.56px;
  font-size: 18px;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.groups_container .groups_collection .group_card .group_members {
  padding-left: 2.2em;
}

.new_group_form {
  border-radius: 6px;
  padding: 0 4em 1em 4em;
  background-color: white;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  width: 240px;
}

.new_group_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new_group_form form input {
  margin-bottom: 0.5em;
  outline: none;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #697b93;
  font-family: "Roboto", sans-serif;
}

.new_group_form h4 {
  color: #52a27e;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.new_group_form textarea {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  outline: none;
  resize: vertical;
}

.new_group_form .new_group_save {
  font-family: "Roboto", sans-serif;
  background-color: #52a27e;
  color: white;
  border-radius: 24px;
  padding: 0.5em 1em;
  width: 40%;
  text-align: center;
  margin: 1em auto 0 auto;
}

.new_group_form .new_group_save:hover {
  cursor: pointer;
  background-color: #418566;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.edit_group_modal {
  border-radius: 6px;
  padding: 0 4em 1em 4em;
  background-color: white;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  width: 240px;
}

.edit_group_modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.edit_group_modal form input {
  margin-bottom: 0.5em;
  outline: none;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #697b93;
  font-family: "Roboto", sans-serif;
}

.edit_group_modal h4 {
  color: #52a27e;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.edit_group_modal textarea {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  outline: none;
  resize: vertical;
}

.edit_group_modal .edit_group_save {
  font-family: "Roboto", sans-serif;
  background-color: #52a27e;
  color: white;
  border-radius: 24px;
  padding: 0.5em 1em;
  width: 40%;
  text-align: center;
  margin: 1em auto 0 auto;
}

.edit_group_modal .edit_group_save:hover {
  cursor: pointer;
  background-color: #418566;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.edit_group_modal .delete {
  text-align: center;
  margin-top: 0.5em;
  color: #0e2a4b;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.edit_group_modal .delete:hover {
  color: #d80202;
  cursor: pointer;
}

.people_container {
  margin: 0 auto;
  margin-top: 4em;
  width: 900px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  padding: 1em 3em;
}

.people_container .people_container_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2em;
}

.people_container .people_container_header h1 {
  font-weight: normal;
  text-decoration: underline;
  color: #332c52;
  font-family: "Playfair Display", serif;
}

.people_container .people_container_header .add_icon {
  font-family: "Roboto", sans-serif;
  background-color: #52a27e;
  color: white;
  border-radius: 24px;
  padding: 0.5em 1em;
  margin-left: 1em;
}

.people_container .people_container_header .add_icon:hover {
  cursor: pointer;
  background-color: #418566;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.people_container .people_collection {
  font-family: "Roboto", sans-serif;
}

.collection_headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
  color: #0e2a4b;
  text-decoration: underline;
  font-size: 20px;
  width: 80%;
  margin: 0.5em auto;
}

.collection_headers .header_name {
  width: 40%;
}

.person_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  padding: 0.5em;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 0 auto 1em auto;
  font-size: 18px;
}

.person_card:hover {
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.person_card .person_name {
  width: 40%;
  font-weight: bold;
  color: #0e2a4b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.person_card .person_name:hover {
  opacity: 0.6;
  cursor: pointer;
}

.person_card .person_group {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #0e2a4b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.person_card .person_group:hover {
  opacity: 0.6;
  cursor: pointer;
}

.person_card .delete {
  color: #697b93;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-align: right;
}

.person_card .delete:hover {
  color: #d80202;
  cursor: pointer;
}

.new_person_form {
  border-radius: 6px;
  padding: 0 4em 1em 4em;
  background-color: white;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  width: 240px;
}

.new_person_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new_person_form form input {
  margin-bottom: 0.5em;
  outline: none;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #697b93;
  font-family: "Roboto", sans-serif;
}

.new_person_form h4 {
  color: #52a27e;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.new_person_form .new_person_save {
  font-family: "Roboto", sans-serif;
  background-color: #52a27e;
  color: white;
  border-radius: 24px;
  padding: 0.5em 1em;
  width: 40%;
  text-align: center;
  margin: 1em auto 0 auto;
}

.new_person_form .new_person_save:hover {
  cursor: pointer;
  background-color: #418566;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.new_person_form .group_options {
  font-family: "Roboto", sans-serif;
}

.new_person_form .group_options .group_select_header {
  color: #0e2a4b;
  font-weight: bold;
  margin: 0.5em 0;
}

.new_person_form .group_options .group_select {
  color: #697b93;
  font-size: 16px;
}

.new_person_form .group_options .group_select:hover {
  cursor: pointer;
}

.new_person_form .group_options .selected {
  color: #52a27e;
  font-size: 16px;
}

.new_person_form .group_options .selected:hover {
  cursor: pointer;
}

.edit_person_modal {
  border-radius: 6px;
  padding: 0 4em 1em 4em;
  background-color: white;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  width: 240px;
}

.edit_person_modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.edit_person_modal form input {
  margin-bottom: 0.5em;
  outline: none;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #697b93;
  font-family: "Roboto", sans-serif;
}

.edit_person_modal h4 {
  color: #52a27e;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.edit_person_modal .edit_person_save {
  font-family: "Roboto", sans-serif;
  background-color: #52a27e;
  color: white;
  border-radius: 24px;
  padding: 0.5em 1em;
  width: 40%;
  text-align: center;
  margin: 1em auto 0 auto;
}

.edit_person_modal .edit_person_save:hover {
  cursor: pointer;
  background-color: #418566;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.group_assign {
  border-radius: 6px;
  padding: 0 4em 1em 4em;
  background-color: white;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  width: 240px;
}

.group_assign form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.group_assign form input {
  margin-bottom: 0.5em;
  outline: none;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #697b93;
  font-family: "Roboto", sans-serif;
}

.group_assign h4 {
  color: #52a27e;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.group_assign .group_option {
  color: #697b93;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.group_assign .group_option:hover {
  color: #52a27e;
}

body {
  margin: 0;
}

.App {
  padding: 4em 0;
}

.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#groups {
  position: absolute;
  top: 3em;
}
/*# sourceMappingURL=style.css.map */