.App {
  text-align: center;
}
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  transition: 0.5s;
  display: flex;
  background-color: white;
}
.groups_collection {
  padding-top: 3em;
}
.group_name {
  font-family: "Roboto", sans-serif;
}
.group_description {
  color: #434343;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.56px;
}

.icon {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: black;
}
.icon :visited {
  color: black;
}
.pink_comma {
  color: #fe7b6c;
  font-size: 46px;
}

.person_card {
  display: flex;
  justify-content: center;
  align-items: center;
}
