.App {
  text-align: center;
}
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  transition: 0.5s;
}
.group_name {
  font-family: "Roboto", sans-serif;
}
.group_description {
  color: #434343;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.56px;
}

.icon {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  color: black;
}
.icon :visited {
  color: black;
}
.pink_comma {
  color: #fe7b6c;
}
