body {
  margin: 0;
}

.App {
  padding: 4em 0;
}

.navbar_container {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  width: 900px;
  max-width: 80%;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em;
}

.navbar .icon {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: black;
}

.navbar .icon .pink_comma {
  color: #fe7b6c;
  font-size: 46px;
}

.navbar .navbar_anchors a {
  color: #697b93;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  padding-left: 2em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar .navbar_anchors a:hover {
  opacity: 0.6;
}

.navbar .navbar_anchors .planned_anchor {
  color: #52a27e;
}

.groups_container {
  margin: 0 auto;
  margin-top: 4em;
  width: 900px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  padding: 1em;
}

.groups_container .group_container_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2em;
}

.groups_container .group_container_header h1 {
  font-weight: normal;
  text-decoration: underline;
  color: #332c52;
  font-family: "Playfair Display", serif;
}

.groups_container .group_container_header .add_icon {
  font-family: "Roboto", sans-serif;
  background-color: #52a27e;
  color: white;
  border-radius: 24px;
  margin-left: 1em;
  padding: 0.5em 1em;
}

.groups_container .group_container_header .add_icon:hover {
  cursor: pointer;
}

.groups_container .groups_collection {
  font-family: "Roboto", sans-serif;
}

.groups_container .groups_collection::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.groups_container .groups_collection .group_header {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #0e2a4b;
}

.groups_container .groups_collection .group_header .open_close_icon {
  -webkit-transition: 0.45s;
  transition: 0.45s;
}

.groups_container .groups_collection .group_header .group_name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 0.5em;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.groups_container .groups_collection .group_header .group_name:hover {
  cursor: pointer;
}

.groups_container .groups_collection .group_header .edit_group_button {
  color: #697b93;
  font-size: 15px;
  padding-right: 1em;
}

.groups_container .groups_collection .group_header .edit_group_button:hover {
  cursor: pointer;
}

.groups_container .groups_collection .group_description {
  color: #697b93;
  font-weight: normal;
  letter-spacing: 0.56px;
  font-size: 18px;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.groups_container .groups_collection .group_card ul {
  list-style: none;
}

.people_container {
  margin: 0 auto;
  margin-top: 4em;
  width: 900px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  padding: 1em;
}

.people_container .people_container_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2em;
}

.people_container .people_container_header h1 {
  font-weight: normal;
  text-decoration: underline;
  color: #332c52;
  font-family: "Playfair Display", serif;
}

.people_container .people_container_header .add_icon {
  font-family: "Roboto", sans-serif;
  background-color: #52a27e;
  color: white;
  border-radius: 24px;
  margin-left: 1em;
  padding: 0.5em 1em;
}

.people_container .people_container_header .add_icon:hover {
  cursor: pointer;
}

.people_container .people_collection {
  font-family: "Roboto", sans-serif;
}

.people_container .people_collection::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.person_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.person_card .person_name {
  width: 40%;
  font-weight: bold;
  color: #0e2a4b;
}

.person_card .person_group {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #697b93;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.person_card .person_group:hover {
  opacity: 0.6;
  cursor: pointer;
}

.person_card .delete {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #697b93;
  text-align: right;
}

.person_card .delete:hover {
  color: #d80202;
  cursor: pointer;
}

.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.group_assign {
  border-radius: 6px;
  padding: 0 4em 1em 4em;
  background-color: white;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.group_assign h4 {
  color: #52a27e;
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

.group_assign .group_option {
  color: #697b93;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.group_assign .group_option:hover {
  color: #52a27e;
}

#groups {
  position: absolute;
  top: 3em;
}
/*# sourceMappingURL=style.css.map */